body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; /* TODO Solve this in HTML */
}

#overlay {
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 1;
	background-color: #000000;
	color: #ffffff;
}

#overlay > div {
	text-align: center;
}

#overlay > div > button {
	height: 20px;
	background: transparent;
	color: #ffffff;
	outline: 1px solid #ffffff;
	border: 0px;
	cursor: pointer;
}

#overlay > div > p {
	color: #777777;
	font-size: 12px;
}

#threejs{
    /* background-color: var(--color2); */
    /* background-image: linear-gradient(+90deg, #ffffff, #ffffff); */
    float: right;
    float: top;
    position: absolute;
    top: 0px;
    /* bottom: 50%; */
    bottom: 30%;
    right: 0;
    left:0;
    /* font-family: var(--font);
    color: var(--color1); */
}

#graph{
    /* background-color: var(--color2); */
    /* background-image: linear-gradient(+90deg, #ffffff, #ffffff); */
    /* float: right; */
    float: bottom;
    position: absolute;
    /* top:var(--top); */
    
    right: 0;
    left:0;
	top:70%;
	bottom: 0;
    /* font-family: var(--font);
    color: var(--color1); */
}
